@import "../../styles/variables";
.entry-page {
  .banner {
    width: 100%;
    background: @primary-color;
    color: #FFF;
    text-align: center;
    padding: 100px 0;
    .logo {
      width: 250px !important;
      height: auto !important;
    }
  }
  .entry-button {
    margin: 0 10px;
  }
  .content {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .steps {
    overflow: auto;
    text-align: center;
    background: @color-grey200;
    padding: 30px 0;
  }
  .features {
    .content;
    margin: 50px auto;
    text-align: center;
    .cards {
      display: flex;
      margin: 20px 0;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        margin: 0 5px;
        padding: 20px 10px;
        .card-title {
          margin: 20px 0;
        }
        .card-desc {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          color: @color-lightBlack;
          font-size: 14px;
        }
        svg {
          width: 15% !important;
          height: auto !important;
        }
      }
    }
  }
}