@import "../../styles/variables";
.video {
  position: relative;
  .full-screen-wrapper {
    width: 100%;
    height: 100%;
  }
  video {
    float: left;
    width: 100%;
    background: @color-grey800;
  }
  &.full-screen video {
    width: 100% !important;
    height: 100% !important;
    background: @color-grey900;
  }
  .video-loader {
    position: absolute !important;
    left: 50%;
    top: 50%;
    margin-left: -25px !important;
    margin-top: -55px !important;
  }
  &.full-screen .video-loader {
    margin-top: -25px !important;
  }
  .video-status {
    position: absolute;
    left: 10px;
    bottom: 70px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: @color-lightWhite;
    font-size: 14px;
    line-height: 20px;
  }
  &.full-screen .video-status {
    bottom: 10px;
  }
  .control-bar {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    width: 100%;
    height: 30px;
    align-items: center;
    border-top: 1px solid @color-grey300;
    border-bottom: 1px solid @color-grey300;
    background: @color-white;
    box-sizing: border-box;
    & > * {
      margin: 0 5px;
    }
    .progress-bar {
      flex-grow: 1;
      & > div {
        margin: 0 !important;
      }
    }
    .volume-bar {
      position: absolute;
      top: -100px;
      width: 30px;
      height: 100px;
      background: @color-white;
      .volume-slider {
        transform: rotate(-90deg);
        width: 80px;
        transform-origin: 0px 9px;
        position: absolute;
        bottom: 1px;
        left: 50%;
        & > div {
          margin: 0 !important;
        }
      }
    }
  }
  &.full-screen .control-bar {
    bottom: 0;
  }
  &.hide-video-control .control-bar {
    display: none;
  }
  .text-sender {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    padding: 0 10px;
    background: @color-white;
    .input-field {
      width: auto !important;
      flex-grow: 1;
      height: auto !important;
      line-height: 30px !important;
      div {
        bottom: auto !important;
      }
    }
    .submit-button {
      cursor: pointer;
      margin-left: 5px;
      color: @primary-color;
      line-height: 30px;
      font-size: .8em;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &.full-screen .text-sender {
    bottom: 30px;
  }
  &.hide-video-control .text-sender {
    display: none;
  }
}