@import "../../styles/variables";
.video {
  position: relative;
  video {
    float: left;
    width: 100%;
    background: @color-grey800;
    &::-webkit-media-controls {
      display: none !important;
    }
  }
  .control-bar {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    width: 100%;
    height: 30px;
    align-items: center;
    border-top: 1px solid @color-grey300;
    border-bottom: 1px solid @color-grey300;
    background: @color-white;
    box-sizing: border-box;
    & > * {
      margin: 0 5px;
    }
    .progress-bar {
      flex-grow: 1;
      & > div {
        margin: 0 !important;
      }
    }
    .volume-bar {
      position: absolute;
      top: -100px;
      width: 30px;
      height: 100px;
      z-index: @max-z-index;
      background: @color-white;
      .volume-slider {
        transform: rotate(-90deg);
        width: 80px;
        transform-origin: 0px 9px;
        position: absolute;
        bottom: 1px;
        left: 50%;
        & > div {
          margin: 0 !important;
        }
      }
    }
  }
  &.full-screen .control-bar {
    bottom: 0;
    z-index: @max-z-index;
  }
  &.hide-video-control .control-bar {
    display: none;
  }
  .text-sender {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    padding: 0 10px;
    background: @color-white;
    .input-field {
      width: auto !important;
      flex-grow: 1;
      height: auto !important;
      line-height: 30px !important;
      div {
        bottom: auto !important;
      }
    }
    .submit-button {
      cursor: pointer;
      margin-left: 5px;
      color: @primary-color;
      line-height: 30px;
      font-size: .8em;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &.full-screen .text-sender {
    bottom: 30px;
    z-index: @max-z-index;
  }
  &.hide-video-control .text-sender {
    display: none;
  }
}