@import "styles/variables";

body {
  margin: 0;
  color: @color-darkBlack;
  font-weight: 300;
  background: @footer-background-color;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

a {
  color: @secondary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

code {
  background: @color-limeA100;
  padding: 0 .5em;
  border-radius: 5px;
}

input[type=range]{
  -webkit-appearance: none;
  margin: 0;
}

.slider-track {
  height: 2px;
  background: @color-grey400;
  background-clip: content-box;
  box-sizing: content-box;
  padding: 8px 0;
  border: none;
}

.slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: @color-cyan500;
  margin-top: -5px;
}
.slider-thumb-disabled {
  background: @color-grey400;
}

input[type=range]::-webkit-slider-runnable-track { .slider-track }
input[type=range]::-moz-range-track { .slider-track }
input[type=range]::-ms-track {
  .slider-track;
  margin-top: -4px;
}
input[type=range]::-ms-fill-lower {
  background: @color-cyan500;
}
input[type=range]:disabled::-ms-fill-lower {
  background: @color-grey400;
}

input[type=range]::-webkit-slider-thumb { .slider-thumb }
input[type=range]::-moz-range-thumb { .slider-thumb }
input[type=range]::-ms-thumb {
  .slider-thumb;
  margin-top: -1px;
}

input[type=range]:disabled::-webkit-slider-thumb { .slider-thumb-disabled }
input[type=range]:disabled::-moz-range-thumb { .slider-thumb-disabled }
input[type=range]:disabled::-ms-thumb {
  .slider-thumb-disabled;
}

input[type=range]:focus {
  outline: none;
}

.hidden {
  display: none !important;
}