@import "styles/variables";

body {
  margin: 0;
  background: @footer-background-color;
  font-family: sans-serif;
}

a {
  color: @secondary-color;
}

code {
  background: @color-limeA100;
  padding: 0 .5em;
  border-radius: 5px;
}